{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AI-Powered HR Consulting</title>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login to Your Account</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label for="username">User name</label>
            {{ form.username }}
            {{ form.username.errors }}

            <label for="password">Password</label>
            {{ form.password }}
            {{ form.password.errors }}
            <button type="submit" class="btn login-btn">Login</button>
            <a href="{% url 'register_company' %}" class="button"><button type="button" class="btn">Get a demo</button></a>
            
        </form>
    </div>
<script>
    // Ensure this script is loaded on pages with forms or sensitive content
    window.addEventListener('pageshow', function(event) {
    // Check if the page is being shown from the browser cache
    if (event.persisted) {
        window.location.reload(); // Reload the page to prevent stale content
    }
});

</script>
</body>
</html>
